body{
    font-size:62.5%;
    font-family: arial, sans-serif;
    background-color: rgba(255, 115, 0, 0.233);
}

.nav-bar{
    background: rgb(0,0,0,0.5);
    height: 80px;
}
.logo{
    margin:10px 50px;
    height:100px;

}
.menu{
    float: right;
    list-style:none;
    margin:20px;

}
.menu li{
    display: inline-block;
    margin: 10px;
}
.menu li a{
    text-decoration:none;
    color:#fff;
    padding: 5px 10px;
    font-size: 10px;
}
menu li a:hover{
    background:#7777;
    transition: .4s;
    columns: #001100;;
}
br{
    color:black;
}
 /*----Carousel Styling----*/
 .slide1{
    background-image: url('pic4.jpg');
    height:400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:700px;
}
.slide2{
    background-image: url('pic2.jpg');
    height:400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:700px;
}
.slide3{
    background-image: url('pic3.jpg');
    height:400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:700px;
}
.carousel-caption h1{
    font-size: 8em;
    font-family: 'Pacifico',cursive;
    padding-bottom: .4em;
    color: midnightblue;
}
.carousel-caption p{
    font-size: 2em;
    color: darkred;
}
#myCarousel{
    padding-top: 100px;
}